.circle {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border-color: black;
  outline: 1px solid rgb(214, 211, 211);
  outline-style: ridge;
  outline-offset: -2px;
}
.green {
  top: 200px;
  left: 200px;
  background-color: blue;
}
.red {
  bottom: 200px;
  right:200px;
  background-color: green;
}
.yellow {
  bottom: 200px;
  left: 200px;
  background-color: red;
}
.blue {
  top: 200px;
  right: 200px;
  background-color: yellow;
}
.circle-black {
  height: 225px;
  width: 225px;
  background-color: black;
}
.circle-black-big {
  position: absolute;
  height: 400px;
  width: 400px;
  background-color: black;
  left: 300px;
  top: 300px;
}
.start{
  width: 40px;
  height: 40px;
}
